<!--inherits layout from layout.html-->
{% extends "layout.html" %}
{% block content %}
<H3> Browse by {{ category }}:</H3>
<br>
{% if cat == "cat" %}

    {% for item in links %}
    <p class="lead">
        <a class="btn btn-info btn-block btn-lg"
           href="{{url_for('browse.browse_cat', category=item)}}" role="button">
            {{ item }} </a>
    </p>
    {% endfor %}

{% elif cat == "subcat" %}
 {% set link = '' %}
    {% for item in links %}
        {% set link = category + '-' + item[0] %}
        <p class="lead">
            <a class="btn btn-info btn-block btn-sml"
               href="{{url_for('browse.browse_cat', category=link)}}" role="button">
                {{ item }}</a>
        </p>
    {% endfor %}

{% endif %}

{% endblock content %}
