<!--inherits layout from layout.html-->
{% extends "layout.html" %}
{% block content %}
<H2> Choose browse category</H2>
<br>
<p class="lead">
    <a class="btn btn-info btn-block btn-lg"
       href="{{url_for('browse.browse_cat', category='kinase')}}" role="button">
        Kinases</a>
</p>
<p class="lead">
    <a class="btn btn-info btn-block btn-lg"
       href="{{url_for('browse.browse_cat', category='substrate')}}" role="button">
        Substrates</a>
</p>
<p class="lead">
    <a class="btn btn-info btn-block btn-lg"
       href="{{url_for('browse.browse_cat', category='Inhibitors')}}" role="button">
        Inhibitors</a>
</p>

{% endblock content %}

