<!--inherits layout from layout.html-->
{% extends "layout.html" %}
{% block content %}
<H2> Choose browse category</H2>
<br>
<p class="lead">
    <a class="btn btn-default btn-block btn-lg"
       href="{{url_for('browse.browse_cat', category='Kinase')}}" role="button">
        Kinases - by Family or Cellular Location</a>
</p>
<p class="lead">
    <a class="btn btn-default btn-block btn-lg"
       href="{{url_for('browse.browse_cat', category='Substrate')}}" role="button">
        Substrates - All or by Chromosome Location</a>
</p>
<p class="lead">
    <a class="btn btn-default btn-block btn-lg"
       href="{{url_for('browse.browse_table', subcategory='Inhibitor')}}" role="button">
         All Inhibitors</a>
</p>

{% endblock content %}

