<!-- inherit template from layout.html-->
<!-- format form for upload of data.-->
{% extends "layout.html" %}
{% block content %}
<div>
    <H3><b><em>Online analysis for your phospho-proteomics data</b></em></H3>
    <br>
    <p> We have your file and it is being checked before being passed through
        the various different stages of it's PhosphoQuest.
        <p>Please note analysis on this website is done <i> on the fly</i>,
        therefore please do not click back or other links (in same tab).
        </p>
    <p>A csv file of the full analysed data including the results of database
        searches is provided for download when the analysis is complete.
        Individual data charts can be saved from the site, using the methods on
        their pages.
    </p>
    <a>Please see <a href="{{url_for('main.documentation')}}"> the documentation</a>
    for information about how to format your datafile correctly and for further
    information about the analysis output results.</p>
    <br>
    <p>We hope you enjoy your <i>PhosphoQuest</i>.</p>

    <br>
 <p><b> Please note large amounts of data-crunching goes on behind the scenes
     and the analysis takes some time. Please wait.</b></p>
</div>

{% endblock content %}