<!-- inherit template from layout.html-->
{% extends "layout_docs.html" %}
{% block content %}

<div class="container">
    <br>
    <H5> <b><em>Browse and Search functionality</em></b></H5>
    <br>
    <p>
        PhosphoQuest users can use the search function to search for Kinases,
        substrates or inhibitors by accession number or name. The search options
        include <b> like </b> or <b>exact</b> match searches.
    </p>

    <p>
        'Like' match searches are <u>not case sensitive</u> and will find results
        with text matches inside other words, for example "cellular" in
        "Extracellular-matrix".
    </p>
    <p>
        'Exact' match searches are <u>case sensitive</u> and will only find results
        with text  that exactly matches that in the database field.
    </p>


    <hr>
</div>
{% endblock content %}