<!-- inherit template from layout.html-->
{% extends "layout_no_sidebar.html" %}
{% block content %}

<div class="container">
    <meta charset="UTF-8">
    <h3>PhosphoQuest Documentation</h3>
    <hr>
    <H5> Database Contents</H5>
    <br>
    <p>
        Resources in this database were obtained from various sites.
        We thank everyone involved with maintaining, updating and keeping these
        online sites available and free to use for non-commercial purposes.
    </p>
    <p>The majority of the information on this website was obtained from
    <a href="https://www.phosphosite.org">PhosphositePlus</a>. A superb online resource.</p>
    <p>Inhibitors information was obtained from
        <a href="https://www.bindingdb.org"> BindingDB</a>.</p>

    <p>Additional information to fill in gaps in the database was obtained
        via API from <a href="https://www.uniprot.org">Uniprot</a>
        and <a href="https://pubchem.ncbi.nlm.nih.gov/"> PubChem</a>. Particular thanks to
        PubChem for providing the widget resources which are used on the inhibitor detail information
        pages of this website.</p>
    <hr>
    <br>
    <H5> Table format for uploading to PhosphoQuest analysis tool.</H5>
    <br>
    <p>
        Please see below for an example of the table format required:
    </p>   
        ### example table image ###
    </p>
        <b>Column 1: </b><em>Substrate</em> column with gene name and 
        site. Note that non-phosphorylated peptides should also be in the 
        format indicated i.e. <em>gene name(None)</em>. However, the analysis 
        tool can also handle substrate entries for non-phosphorylated peptides 
        that are <em>only</em> gene names.
    </p>
        <b>Column 2: </b>Mean intensity of <em>Control</em> replicate intensities.
    </p>
        <b>Column 3: </b>Mean intensity of <em>Treatment/condition</em> replicate intensities.
    </p>
        <b>Column 4: </b>Fold change calculation: <em>Treatment over the Control.</em> 
        Note: these should not be log2 fold calculations!
    </p>
        <b>Column 5: </b>T-test P-values. Please use <em>uncorrected</em> values,
        as the webapp will implement correction for multiple-testing errors. 
    </p>
        <b>Column 6-7: </b>Coefficients of variation for the <em>Control</em> 
         and <em>Treatment/condition</em>, respectively. Please see section -
         <em>Analysis functions</em> below for further details.
    </p> 
    </p> 
    <hr>
    <br>
    <H5> Analysis functions</H5>
    <br>
    <p>
        Information here about how the analysis is done
    </p>
    <hr>
    <br>
    <H5> Output information and  files</H5>
    <br>
    <p>
        Information here about what analysis is produced, and the  output file.
    </p>
</div>
{% endblock content %}