<!-- inherit template from layout.html-->
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <meta charset="UTF-8">
    <h3>PhosphoQuest Documentation</h3>
    <hr>
    <H5> Database Contents</H5>
    <br>
    <p>
        Some info about database content here, eg where information
        was obtained from, links to original sites etc
    </p>
    <hr>
    <br>
    <H5> User Data Format for Uploading for analysis</H5>
    <br>
    <p>
        Information here about the format the user data needs to be
        in for upload for analysis
    </p>
    <hr>
    <br>
    <H5> Analysis functions</H5>
    <br>
    <p>
        Information here about how the analysis is done
    </p>
    <hr>
    <br>
    <H5> Output information and  files</H5>
    <br>
    <p>
        Information here about what analysis is produced, and the  output file.
    </p>
</div>
{% endblock content %}