<!-- inherit template from layout.html-->
{% extends "layout_docs.html" %}
{% block content %}

<div class="container">
    <h3>PhosphoQuest Documentation</h3>
    <hr>
    <p> Use the menu on the right to navigate between information on the following
    topics.</p>
    <br>
    <H5> <b><em>Database Contents</em></b></H5>
    <p>Information about the contents of the PhosphoQuest website and the original
    sources of the information</p>
    <br>
    <H5> <b><em>Browse and Search</em></b></H5>
    <p>Information about the browse and search functions of the PhosphoQuest website</p>
    <br>
    <H5> <b><em>Data Analysis</em></b></H5>
    <p>Information about the data analysis functions of the PhosphoQuest website</p>
    <br>
</div>
{% endblock content %}