<!-- inherit template from layout.html-->
{% extends "layout_docs.html" %}
{% block content %}

<div class="container">
    <br>
    <H4> <b><em>Browse and Search functionality</em></b></H4>
    <hr>
    <br>
    <H5><em>Basic information</em></H5>
    <hr>
    <p> PhosphoQuest users can use the search function to search for kinases,
        substrates or inhibitors by accession number or name. The search options
        include <b> similar </b> (like) matches or <b>exact</b> match searches.
    </p>
    <p>
        'Similar (Like)' match searches are <u>not case sensitive</u> and will find results
        with text matches inside other words, for example "cellular" in
        "Extracellular-matrix".
    </p>
    <p>'Exact' match searches are <u>case sensitive</u> and will only find results
        with text that exactly matches that in the database field.
    </p>
    <p> <b>Please note: </b></p>
    <p> The search function is currently basic and does <em> NOT </em> recognise
        wild-cards such as "*" or logical arguments such as "AND/OR".</p>
    
    <p> Some browse categories are provided on the browse pages to help users navigate through the
        information on the website. Please note that browsing "All Substrates" and
        "All inhibitors" loads a large number of entries and the query takes a short
        time.</p>
    
    <p> Browse and search output tables may contain a lot of entries, currently, the 
        table output is not sortable by column, however you can use your browser's search
        text function to find relevant information within the page. </p>

    <H5><em>Related information</em></H5>
    <hr>
    <p> In order to be as helpful as we can to you in your PhosphoQuest, we add
        links from search and browse result pages to show related information.

    </p>
    <p> The detail information page shows a list output of information about the
        item that you searched for. Below this list will be presented any related
        information depending on what type of search you performed.
    </p>
    <p> For example, if your initial search returns several Kinases, they will be presented
        in a table, with one row for each kinase, clicking on the "Detail" link
        for each row will open the details page for that kinase, and below it will
        be presented tables representing the the phosphosites that the kinase targets,
        and the inhibitors that inhibit that kinase. Each table also contains links to
        detail pages for each item.
    </p>
    <p> In this way, substrate details show related phosphosites and  phosphosites
        are linked back to their related substrate and a table of the kinases that can
        phosphorylate them. For inhibitors we are able to show a widget of the 3D structure of the compound
        courtesy of PubChem, and in addition a table of the kinases
        that the inhibitor targets.</p>

    <b> We hope that this related information will aid you in your PhosphoQuest.</b>

    <hr>
</div>
{% endblock content %}
