<!-- inherit template from layout.html-->
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p style="float:left">
    <img src="{{url_for('static', filename='knight.png')}}"
           alt="knight image"/></p>
    <H2>Welcome to PhosphoQuest!</H2>
    <br>

    <H5><i>Begin your quest for Human kinases and their targets, related information
    and analyse your phospho-proteomics data </i></H5>
    <hr>
        <div class="row">
            <div class="col-md-8">
              <p>
                PhosphoQuest is a website designed to bring together information
                and data analysis tools for kinase research.
                The PhosphoQuest database contains information on kinases, the
                substrates they phosphorylate, and the drugs that inhibit their
                activity. These data can be explored through this web app.
              </p>
              <p>
                For example, you can search by kinase, inhibitors and kinase
                substrates, using an accession or ID number, or gene/drug
                names. You can also browse the full contents of the database
                using our browse pages.
              </p>
              <p>
                We hope you find this website useful.
              </p>
            </div>

        </div>
</div>
{% endblock content %}