<!-- inherit template from layout.html-->
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p style="float:left">
    <img src="{{url_for('static', filename='knight.png')}}"
           alt="knight image"/></p>
    <H2>Welcome to PhosphoQuest!</H2>
    <br>

    <H5><i>Begin your quest for Human phosphate kinase and related information
    and analyse your Phosphorylation data </i></H5>
    <hr>
        <div class="row">
            <div class="col-md-8">
              <p>PhosphoQuest is a website designed to bring together information
                and data analysis tools for phosphate kinase research.
                We need more text here.
              </p>
                <p>
                    For example you can search by kinase for related inhibitors
                    and substrates. BLAH BLAH BLAH
                </p>
            </div>

        </div>
</div>
{% endblock content %}