<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- our main custom css in static-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/main.css')}}">

    <!--Set title if entered in to render function or add default-->
    {% if title %}
       <title>PhosphoQuest-{{ title }}</title>
    {% else %}
        <title>PhosphoQuest toolkit</title>
    {% endif %}

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!--add header bar with bootstrap classes-->
<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">PhosphoQuest </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarToggle" aria-controls="navbarToggle"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
              <a class="nav-item nav-link" href= "{{ url_for('browse.browse_main') }}">Browse</a>
              <a class="nav-item nav-link" href= "{{ url_for('search.search_db') }}" >Search</a>
              <a class="nav-item nav-link" href="{{ url_for('crunch.analysis') }}">User Data Analysis</a>
            </div>
            <!--Navbar Right Side-->
          </div>
        </div>
      </nav>
    </header>

    <!-- block content from child templates with bootstrap styles-->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
            <!-- print error messages from form validation-->
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                  {% for category, message in messages %}
                     <div class = "alert alert-{{ category }}">
                         {{ message }}
                     </div>
                  {% endfor %}
               {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

    </main>


  </body>


</body>
</html>