<!-- inherit template from layout.html-->
{% extends "layout.html" %}
{% block content %}
<H1>Welcome to the Ph-Kinase Database toolkit!</H1>
<H2><i> "This is a fantastic evolution for biology"  Charles Darwin</i></H2>
<H2><i> "An artistically scientific site!" Leonardo Da Vinci </i></H2>
<img src="https://www.rhea-db.org/compoundImage?dimensions=600&amp;chebiId=CHEBI:43074">
    <div class="border-top pt-3">
        <small class="text-muted">
        <a class="ml-2" href="https://www.uniprot.org/uniprot/P35914" target = _blank>
            Hydroxymethylglutaryl-CoA lyase substrate, (3S)-hydroxy-3-methylglutaryl-CoA - Uniprot</a>
        </small>
    </div>
{% endblock content %}