<!-- inherit template from layout.html-->
{% extends "layout.html" %}
{% block content %}
<H1>Welcome to PhosphoQuest!</H1>
<H3><i> Browse Human phosphate kinases and related information </i></H3>
<H3><i> Analyse your Phosphorylation data here. </i></H3>
<img src="https://wwworhea-db.org/compoundImage?dimensions=400&amp;chebiId=CHEBI:43074">
    <div class="border-top pt-3">
        <small class="text-muted">
        <a class="ml-2" href="https://www.uniprot.org/uniprot/P35914" target = _blank>
            Hydroxymethylglutaryl-CoA lyase substrate, (3S)-hydroxy-3-methylglutaryl-CoA - Uniprot</a>
        </small>
    </div>
{% endblock content %}