<!-- inherit template from layout.html-->
<!-- format form for upload of data.-->
{% extends "layout_no_sidebar.html" %}
{% block content %}
<H2>Upload Phosphate Kinase Proteomics Result Data</H2>
<br>
<div>
    <H3>Online data analysis for your phosphate kinase experiments</H3>
    <H4> Please note analysis takes some time. Please wait.</H4>

</div>
<br>
<form method='POST' action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.data_file.label() }}
        {{ form.data_file(class='form-control-file') }}
        {% if form.data_file.errors %}
            {% for error in form.data_file.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
</form>
{% endblock content %}