# Project
## temporary files
PhosphoQuest_app/static/userdata_temp/

## matplotlib
matplotlibrc

## PyCharm files
.idea

## virtual environment directory
venv
giardellovenv

## python
__pycache__

# Windows
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk


# Mac
## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon


## Thumbnails
._*


# Linux
## General
*~

## temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

## KDE directory preferences
.directory

## Linux trash folder which might appear on any partition or disk
.Trash-*

## .nfs files are created when an open file is removed but is still being accessed
.nfs*
