body {
  background: #ffffff;
  color: #333333;
  margin-top: 5rem;
  font-family: Georgia,serif;]
  }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-blue {
  background-color: #1f7a7a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 10;
}

.navside-dark .navside-nav .navside-link {
    font-weight: 500;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
}


table.dataframe, .dataframe td {
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align:center;
  padding: 5px;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: bold;
}

table.dataframe th {
border: 1px solid black;
border-bottom: 1px solid black;
border-collapse: collapse;
text-align:center;
padding: 5px;
font-size: 16px;
font-family: Calibri
text-align: center;
font-weight: bold;
color:#000000;
background-color: #708090;
border: 1px solid black;
height: 50px;
position: sticky;
position: -webkit-sticky;
top: 50px
z-index: 999
}

tr:nth-child(odd)	{ background-color #ffffff;}
tr:nth-child(even)	{ background-color: #dbe4f0;}
tr:hover            { background-color: #f6f4d5;}

.btn-default {
  color: #fff;
  background-color: #1f7a7a !important;
  border-color: #1f7a7a !important;
}

.btn-info {
  color: #000000;
  background-color: #49d0d0 !important;
  border-color: #49d0d0 !important;
  padding: 5px;
}
