<!--inherits layout from layout.html-->
{% extends "layout.html" %}
{% block content %}
{% set title = category|replace("~", " ") %}
<H3> Browse by {{ title }}:</H3>
<br>

{% if cat == "cat" %}

<div class="container">
    <div class="row">
         {% for item in links %}
            <div class="col-md-4">
                <p class="lead">
                     <a class="btn btn-info btn-block btn-lrg"
                   href="{{url_for('browse.browse_cat', category=item)}}" role="button">
                    {{item|replace("~", " ")}} </a>
            </p>
            </div>
        {% endfor %}
    </div>
</div>

{% elif cat == "subcat" %}
    {% set link = '' %}
    <div class="container">
        <div class="row">
            {% for item in links %}
                {% set link = category + '~' + item %}
            <div class="col-md-4">
                <p class="lead">
                     <a class="btn btn-info btn-block btn-md"
                   href="{{url_for('browse.browse_table', subcategory=link)}}" role="button">
                   {{item|replace("&F&", " / ")}}</a>
                </p>
            </div>
    {% endfor %}
         </div>
    </div>

{% endif %}
{% endblock content %}
