<!-- inherit template from layout.html-->
{% extends "layout_docs.html" %}
{% block content %}

<div class="container">
    <h3>PhosQuest Documentation</h3>
    <hr>
    <p> Use the menu on the right to navigate between information on the following
    topics.</p>
    <br>
    <H5> <b><em><a href = {{url_for('main.documentation_category', doc='database')}}>Database Contents</em></a></b></H5>
    <p>Information about the contents of the PhosQuest website and the original
    sources of the information</p>
    <br>
    <H5> <b><em><a href = {{url_for('main.documentation_category', doc='browse')}}>Browse and Search</a></em></b></H5>
    <p>Information about the browse and search functions of the PhosQuest website</p>
    <br>
    <H5> <b><em><a href = {{url_for('main.documentation_category', doc='analysis')}}>Data Analysis</em></a></b></H5>
    <p>Information about the data analysis functions of the PhosQuest website</p>
    <br>
</div>
{% endblock content %}