<!-- inherit template from layout.html-->
{% extends "layout_docs.html" %}
{% block content %}

<div class="container">
    <br>
    <H4> <b><em>Database Contents</em></b></H4>
    <hr>
    <br>
    <p>
        Resources in this database were obtained from various sites.
        We thank everyone involved with maintaining, updating and keeping these
        online sites available and free to use for non-commercial purposes.
    </p>
    <p>The majority of the information on this website was obtained from
    <a target="_blank" href="https://www.phosphosite.org">PhosphositePlus</a>. A superb online resource.</p>
    <p>Inhibitors information was obtained from
        <a target="_blank" href="http://www.kinase-screen.mrc.ac.uk"> MRC
            Kinase Profiling Inhibitor Database</a> and
        <a target="_blank" href="https://www.bindingdb.org"> BindingDB</a>.</p>

    <p>Additional information to fill in gaps in the database was obtained
        via API from <a target="_blank" href="https://www.uniprot.org">Uniprot</a>
        and <a target="_blank" href="https://pubchem.ncbi.nlm.nih.gov/"> PubChem</a>. Particular thanks to
        PubChem for providing the widget resources which are used on the inhibitor detail information
        pages of this website.</p>

</div>
{% endblock content %}