<!-- inherit template from layout.html-->
<!-- format form for upload of data.-->
{% extends "layout.html" %}
{% block content %}
<H1>Upload data</H1>
<form method='POST' action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.data_file.label() }}
        {{ form.data_file(class='form-control-file') }}
        {% if form.data_file.errors %}
            {% for error in form.data_file.errors %}
                <span class=""text-danger">{{ error }}</span></div></br>
            {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
</form>
{% endblock content %}